/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html, body {
    min-width: 290px;;
    color: black;
    background-color: pink;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: white;
}

header {
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: black;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100;
}

/* form input,
form button {
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    background: white;
} */

#nav-form input {
    padding: 0;
    margin: 20
}

form button {
    color: green;
    background: white;
    cursor: pointer;
}