/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html, body {
    min-width: 290px;;
    color: black;
    background-color: lightblue;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: white;
}

#nav-header {
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: black;
    border-top: 1px solid;
    border-color: white;
    list-style: none;
    position: relative;
    width: 100;
    padding: 10px;
}

/* form input,
form button {
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    background: white;
} */

#nav-form input {
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    background: white;
    margin-left: 50px;
}

#nav-form button {
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    background: white;
    height: 20px;
    width: 20px;
}

form button {
    color: green;
    background: white;
    cursor: pointer;
}

#main-section {
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
    padding: 20px;
    margin-bottom: 110px;
}

#main-section-header {
    text-align: right;
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

.main-section-form input,
.main-section-form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.main-section-form button {
    color: green;
    background: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.main-section-form button:hover {
    background:  #ff6f47;
    color: white;
}

.task-container {
    display: flex;
    justify-content: center;
}

.task-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background-color: green;
}

.todo-item {
    padding: 0rem 0.5rem;
}